In [89]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
 
dataset = pd.read_csv(r"C:\Users\night\OneDrive\Desktop\Real_estate.csv")
 
# Printing first 5 records of the dataset
print(dataset.head())

   No  X1 transaction date  X2 house age  \
0   1             2012.917          32.0
1   2             2012.917          19.5
2   3             2013.583          13.3
3   4             2013.500          13.3
4   5             2012.833           5.0

   X3 distance to the nearest MRT station  X4 number of convenience stores  \
0                                84.87882                               10
1                               306.59470                                9
2                               561.98450                                5
3                               561.98450                                5
4                               390.56840                                5

   X5 latitude  X6 longitude  Price
0     24.98298     121.54024   37.9
1     24.98034     121.53951   42.2
2     24.98746     121.54391   47.3
3     24.98746     121.54391   54.8
4     24.97937     121.54245   43.1

In [90]:
dataset.shape

(414, 8)

In [91]:
# Categorizing data depending on datatype(object, int and float) and then calculate their number.

obj = (dataset.dtypes == 'object')
object_cols = list(obj[obj].index)
print("Categorical variables:",len(object_cols))
 
int_ = (dataset.dtypes == 'int')
num_cols = list(int_[int_].index)
print("Integer variables:",len(num_cols))
 
fl = (dataset.dtypes == 'float')
fl_cols = list(fl[fl].index)
print("Float variables:",len(fl_cols))

Categorical variables: 0
Integer variables: 0
Float variables: 6

In [92]:
dataset['Price'] = dataset['Price'].fillna(dataset['Price'].mean())

In [93]:
new_dataset = dataset.dropna()

In [94]:
new_dataset.isnull().sum()

No                                        0
X1 transaction date                       0
X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X6 longitude                              0
Price                                     0
dtype: int64

In [95]:
# Converting categorical data into binary vectors

from sklearn.preprocessing import OneHotEncoder
 
s = (new_dataset.dtypes == 'object')
object_cols = list(s[s].index)
print("Categorical variables:")
print(object_cols)
print('No. of. categorical features: ',len(object_cols))

Categorical variables:
[]
No. of. categorical features:  0

In [96]:
print(new_dataset)

      No  X1 transaction date  X2 house age  \
0      1             2012.917          32.0
1      2             2012.917          19.5
2      3             2013.583          13.3
3      4             2013.500          13.3
4      5             2012.833           5.0
..   ...                  ...           ...
409  410             2013.000          13.7
410  411             2012.667           5.6
411  412             2013.250          18.8
412  413             2013.000           8.1
413  414             2013.500           6.5

     X3 distance to the nearest MRT station  X4 number of convenience stores  \
0                                  84.87882                               10
1                                 306.59470                                9
2                                 561.98450                                5
3                                 561.98450                                5
4                                 390.56840                                5
..                                      ...                              ...
409                              4082.01500                                0
410                                90.45606                                9
411                               390.96960                                7
412                               104.81010                                5
413                                90.45606                                9

     X5 latitude  X6 longitude  Price
0       24.98298     121.54024   37.9
1       24.98034     121.53951   42.2
2       24.98746     121.54391   47.3
3       24.98746     121.54391   54.8
4       24.97937     121.54245   43.1
..           ...           ...    ...
409     24.94155     121.50381   15.4
410     24.97433     121.54310   50.0
411     24.97923     121.53986   40.6
412     24.96674     121.54067   52.5
413     24.97433     121.54310   63.9

[414 rows x 8 columns]

In [97]:
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
 
X = df_final.drop(['Price'], axis=1)
Y = df_final['Price']
 
# Split the training set into
# training and validation set
X_train, X_valid, Y_train, Y_valid = train_test_split(X, Y, train_size=0.8, test_size=0.2, random_state=0)

In [98]:
from sklearn import svm
from sklearn.svm import SVC
from sklearn.metrics import mean_absolute_percentage_error
 
model_SVR = svm.SVR()
model_SVR.fit(X_train,Y_train)
Y_pred = model_SVR.predict(X_valid)
 
print(mean_absolute_percentage_error(Y_valid, Y_pred))

0.19530065848111394

In [99]:
from sklearn.linear_model import LinearRegression
model_LR = LinearRegression()
model_LR.fit(X_train, Y_train)
Y_pred = model_LR.predict(X_valid)
 
print(mean_absolute_percentage_error(Y_valid, Y_pred))

0.1704700854507338

In [101]:
from sklearn import metrics 
print(model_SVR.predict([[2,2012.917,19.5,306.5947,9,24.98034,121.53951]]))

[42.9722459]

c:\Users\night\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(